body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;
}

html {
  overflow: hidden;
}

body, html, #root {
  height: 100%
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* FEED */

.feed {
  border: 1px solid rgb(40,51,64);
  border-top: none;
  border-bottom: none;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* Hide scrollbars */
.feed::-webkit-scrollbar {
  display: none;
}

.feed {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.modal-overlay {
  width: 100%;
  height: 100%;
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  background-color: rgba(110, 118, 125, 0.4);
}