.feed-header {
    position: sticky;
    top: 0;
    background-color: rgb(23,32,42);
    z-index: 100;
    border: 1px solid rgb(40,51,64);
    border-top: none;
    padding: 15px 20px;
    padding-right: 12px;
    color: white;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feed-header > h2 {
    font-size: 20px;
    font-weight: 800;
}

.feed-header > div {
    border-radius: 9999px;
    padding: 1px;
    height: 41.5px;
    width: 41.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.feed-header > div:hover {
    background-color: rgba(29,161,242, 0.1);
}

.sparkles {
    height: 22.5px;
    width: 22.5px;
    cursor: pointer;
}