.landing-form {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    padding-left: 15px;
    padding-right: 15px;
    top: 20px;
    right: 9%;
    height: 100px;
}


.landing-button {
    background-color: rgba(0,0,0,0);
    min-width: 62.79px;
    min-height: 39px;
    height: 0px;
    padding-left: 1em;
    padding-right: 1em;
    border-color: rgb(29, 161, 242);
    border-width: 1px;
    border-radius: 9999px;
    font-size: 15px;
    color: rgb(29, 161, 242);
    font-family: 'Helvetica Neue';
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-content: center;
    border-style: solid;
    cursor: pointer;
    top: 6.915px;
    position: relative;
    transition-property: background-color;
    transition-duration: 0.2s;
}

.landing-button:hover {
    background-color: rgba(29,161,242, 0.1);
}

.landing-button > span {
    align-self: center;
}