.logout-page {
    width: 100%;
    height: 100%;
    background-color: rgb(59,66,75);
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout-modal {
    pointer-events: auto;
    width: 280px;
    height: 223px;
    padding: 30px 20px 30px 20px;
    background-color: rgb(21,32,43);
    display: flex;
    flex-flow: column;
    align-items: center;
    border-radius: 16px;
    position: relative;
    bottom: 100px;
}

.logout-header {
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 10px;
    font-family: 'Helvetica Neue';
    color: white;
}

.logout-text {
    color: rgb(136, 153, 166);
    font-size: 15px;
    font-family: 'Helvetica Neue';
    font-weight: 400;
    overflow-wrap: break-word;
    line-height: 1.3125;
    text-align: center;
    margin-bottom: 20px;
}

.logout-buttons {
    display: flex;
    flex-flow: row;
    width: 100%;
}

.cancel-btn, .logout-btn {
    background-color: rgb(37,51,65);
    min-width: 134.75px;
    min-height: 39px;
    margin-right: 15px;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 9999px;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    border: 0px;
    font-family: 'Helvetica Neue';
    line-height: 1.3125;
    font-size: 15px;
    transition-property: background-color;
    transition-duration: 0.2s;
}

.cancel-btn:hover {
    background-color: rgb(59,71,84);
}

.logout-btn:hover {
    background-color: rgb(26,145,218);
}

.logout-btn {
    margin-right: 0px;
    background-color: rgb(29,161,242);
}