.sidebar-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    margin: 5px;
    height: 100vh;
    position: sticky;
}

.sidebar {
    width: 275px;
    justify-content: space-between;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    align-items: stretch;
    display: flex;
    flex-direction: column;
}

.sidebar-top {
    width: 255px;
    align-items: flex-start;
    display: flex;
    flex-flow: column;
}

.sidebar-bottom {
    width: 100%;
    height: 59px;
    margin-bottom: 20px;
}

.sidebar-twitterIcon {
    color: rgb(255, 255, 255) !important;
    font-size: 30px !important;
    padding: 10px;
    border-radius: 9999px;
}

.sidebar-twitterIcon:hover {
    background-color: rgba(29, 161, 242, 0.1);
}

.sidebar-tweet-btn {
    padding-left: 30px;
    padding-right: 30px;
    border-width: 1px;
    border-radius: 9999px;
    text-decoration: none;
    min-height: 39px;
    display: flex;
    justify-content: center;
    line-height: 1;
    font-weight: 700;
    font-size: 15px;
    font-family: 'Helvetica Neue';
    max-width: 100%;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    color: white;
    background-color: rgb(29,161,242);
    margin-top: 20px;
    margin-bottom: 20px;
    height: 49px;
    width: 187.5px;
}

.sidebar-tweet-btn:hover {
    background-color: rgb(26,145,218);
}

.sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white;
    padding-right: 30px;
    height: 51.19px;
    margin-bottom: 10px;
}

.sidebarOption:hover {
    background-color: rgba(29, 161, 242, 0.1);
    border-radius: 30px;
    color: #50b7f5;
    transition: color 100ms ease-out;
}

.sidebarOption > .MuiSvgIcon-root {
    padding-right: 20px;
    padding-left: 10px;
}

.sidebarOption > h2 {
    font-weight: 800;
    font-size: 20px;
}

.sidebarOption--active {
    color: #50b7f5
}
